// @import 'node_modules/element-plus/theme-chalk/dark/css-vars.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #333;
}

html.dark {
    .login {
        background: var(--el-bg-color);
    }
}